.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-size: 1.65em;
    padding: 0.8em 2.65em;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    border-radius: 3px 3px 0 0px;
    cursor: pointer;
    background-color: var(--green-01);
    border-bottom: 12px solid var(--green-02);
    color: var(--white);
    font-family: Fredoka One, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    letter-spacing: 0.05em;
    transition: 0.25s background-color ease-in;

    &:hover {
      filter: brightness(1.15);
    }

    &:active {
      transform: translatey(12px);
      border: 0;
      margin-bottom: 12px;
    }
  }
}
