:root {
  --black: #000000;
  --white: #ffffff;

  --red: #e45d5b;

  --green-01: #3eb965;
  --green-02: #3d9459;
  --green-03: #c1da60;
  --green-04: #4edf7c;

  --orange: #f6a65c;

  --blue: #6a82d6;

  --purple: #d66acb;

  --pink: #d66a91;

  --font01: 0.85rem;
  --font02: 1rem;
  --font03: 1.2rem;
  --font04: 1.4rem;

  --tablet: 768px;
  --desktop: 1020px;
}
