:root {
  --black: #000000;
  --white: #ffffff;

  --red: #e45d5b;

  --green-01: #6ad68c;
  --green-02: #42ab63;
  --green-03: #c1da60;

  --orange: #f6a65c;

  --blue: #6a82d6;

  --purple: #d66acb;

  --pink: #d66a91;

  --font01: 0.85rem;
  --font02: 1rem;
  --font03: 1.2rem;
  --font04: 1.4rem;
}
